<!-- markets -->
<section  id="book" class="bg-light-gray">
    <div class="container" style="text-align:center;">
      <h3>
        책소개
      </h3>
        <div class="team-member">
            <img src="img/mainCover.png" class="img-responsive bookcover" alt="">
            <h5>돈이 복사되는<br/>가상자산 수업</h5>
            <h6>비트코인, NFT, 메타버스, 이론부터 수익 창출까지</h6>
            <ul class="list-inline ">
                <li>
                    <a href="#" target="_blank" rel="noreferrer">
                        <img src="https://cdn.jsdelivr.net/gh/needleworm/needleworm.github.io/src/images/books/stores/naver.png" class="bookstore"/>
                    </a>
                </li>
                <li>
                    <a href="#" target="_blank" rel="noreferrer">
                        <img src="https://cdn.jsdelivr.net/gh/needleworm/needleworm.github.io/src/images/books/stores/aladdin.png" class="bookstore"/>
                    </a>
                </li>
                <li>
                    <a href="#" target="_blank" rel="noreferrer">
                        <img src="https://cdn.jsdelivr.net/gh/needleworm/needleworm.github.io/src/images/books/stores/yes24.png" class="bookstore"/>
                    </a>
                </li>
                <li>
                    <a href="#" target="_blank" rel="noreferrer">
                        <img src="https://cdn.jsdelivr.net/gh/needleworm/needleworm.github.io/src/images/books/stores/kyobo.png" class="bookstore"/>
                    </a>
                </li>
            </ul>
        </div>
        <a href="https://drive.google.com/drive/folders/1NVW4vkFc5VOi6gE3UpUAesYxJuzXCvIi?usp=share_link" class="page-scroll">
            <button class="btn btn-xl">전체 예제 다운로드</button>
        </a>
      </div>
    </div>
  </section>
