<!-- markets -->
<section  id="book" class="bg-light-gray">
    <div class="container" style="text-align:center;">
      <h3>
        책소개
      </h3>
        <div class="team-member">
            <img src="https://cdn.jsdelivr.net/gh/needleworm/psd/img/mainCover.png" class="img-responsive bookcover" alt="">
            <h5>포토샵 마스터 클래스</h5>
            <h6>만들면서 배는 포샵 입문</h6>
            <ul class="list-inline ">
                <li>
                    <a href="https://search.shopping.naver.com/book/catalog/36979590620" target="_blank" rel="noreferrer">
                        <img src="https://cdn.jsdelivr.net/gh/needleworm/needleworm.github.io/src/images/books/stores/naver.png" class="bookstore"/>
                    </a>
                </li>
                <li>
                    <a href="https://www.aladin.co.kr/shop/wproduct.aspx?ISBN=8970506764" target="_blank" rel="noreferrer">
                        <img src="https://cdn.jsdelivr.net/gh/needleworm/needleworm.github.io/src/images/books/stores/aladdin.png" class="bookstore"/>
                    </a>
                </li>
                <li>
                    <a href="http://www.yes24.com/Product/Goods/116758227" target="_blank" rel="noreferrer">
                        <img src="https://cdn.jsdelivr.net/gh/needleworm/needleworm.github.io/src/images/books/stores/yes24.png" class="bookstore"/>
                    </a>
                </li>
                <li>
                    <a href="https://product.kyobobook.co.kr/detail/S000200616982" target="_blank" rel="noreferrer">
                        <img src="https://cdn.jsdelivr.net/gh/needleworm/needleworm.github.io/src/images/books/stores/kyobo.png" class="bookstore"/>
                    </a>
                </li>
            </ul>
        </div>
        <a href="https://www.dropbox.com/sh/09xfyl3cst0yclj/AADibuqa1T7o5Eqo-vM6504Ja?dl=0" class="page-scroll">
            <button class="btn btn-xl">전체 예제 다운로드</button>
        </a>
      </div>
    </div>
  </section>
