<!-- markets -->
<section  id="part3">
  <div class="container" style="text-align:center;">
    <div class="chapter">
      <div class="chapterTitle">Part 3.</div><br/>
      <div class="chapterSubtitle">이것이 바로 상업용 시각디자인?</div>
      <p class="chapters">
        <Strong>Ch 12.</Strong> 제품 색상 변경 합성
          <a href="https://drive.google.com/drive/folders/1p2mdP_-QoV-9roEn-EFznjx6sMqUswjT?usp=drive_link" target="_blank"><i class="fas fa-save"></i></a><br/>

        <Strong>Ch 13.</Strong> 텍스트 배너 만들기
          <a href="https://drive.google.com/drive/folders/1uOxuIKHVPNoK5Fg1nlIWIdz3RD-lMoAV?usp=drive_link" target="_blank"><i class="fas fa-save"></i></a><br/>
      
        <Strong>Ch 14.</Strong> 인스타그램용 광고 이미지 제작
          <a href="https://drive.google.com/drive/folders/1kRYqiY-B2wPXtvnfJH5T6jwq78kVp95o?usp=drive_link" target="_blank"><i class="fas fa-save"></i></a><br/>
      
        <Strong>Ch 15.</Strong> 현실의 배경에 제품 이미지 합성
          <a href="https://drive.google.com/drive/folders/1M_rOXLduAi-HHHa8SOP1nZMg0BBpCFA_?usp=drive_link" target="_blank"><i class="fas fa-save"></i></a><br/>
      
        <Strong>Ch 16.</Strong> 제품 판매용 광고 콘텐츠 제작
          <a href="https://drive.google.com/drive/folders/1iQ9SQQCzkaTuYqDEu2wjPL-QIOBZ65pD?usp=drive_link" target="_blank"><i class="fas fa-save"></i></a><br/>
      
        <Strong>Ch 17.</Strong> 엽서와 인쇄 예시 목업 제작하기
          <a href="https://drive.google.com/drive/folders/1rl7U-odw3p1AEmiRikbuuUWF1RczJ9uU?usp=drive_link" target="_blank"><i class="fas fa-save"></i></a><br/>
      </p>
    </div>
  </div>
</section>
