<!-- markets -->
<section  id="part3">
  <div class="container" style="text-align:center;">
    <div class="chapter">
      <div class="chapterTitle">Part 3.</div><br/>
      <div class="chapterSubtitle">이것이 바로 상업용 시각디자인?</div>
      <p class="chapters">
        <Strong>Ch 12.</Strong> 제품 색상 변경 합성
          <a href="https://drive.google.com/drive/folders/1NYTjp7sYZi_adnAJr5AW40W7BT6XUOph?usp=share_link" target="_blank"><i class="fas fa-save"></i></a><br/>

        <Strong>Ch 13.</Strong> 텍스트 배너 만들기
          <a href="https://drive.google.com/drive/folders/1N_j-Y0BIOnq6YvPA24YMIOhdCD7b3W3p?usp=share_link" target="_blank"><i class="fas fa-save"></i></a><br/>
      
        <Strong>Ch 14.</Strong> 인스타그램용 광고 이미지 제작
          <a href="https://drive.google.com/drive/folders/1NhkrkD9Sw_oF7gKbmm3RGHsejG7MfDpJ?usp=share_link" target="_blank"><i class="fas fa-save"></i></a><br/>
      
        <Strong>Ch 15.</Strong> 현실의 배경에 제품 이미지 합성
          <a href="https://drive.google.com/drive/folders/1NWAYAoS9zmU1OvPTahgh6tOccXlLibA3?usp=share_link" target="_blank"><i class="fas fa-save"></i></a><br/>
      
        <Strong>Ch 16.</Strong> 제품 판매용 광고 콘텐츠 제작
          <a href="https://drive.google.com/drive/folders/1NiB-Ip33W5xffqQC46Ap67c9WZfqSbrb?usp=share_link" target="_blank"><i class="fas fa-save"></i></a><br/>
      
        <Strong>Ch 17.</Strong> 엽서와 인쇄 예시 목업 제작하기
          <a href="https://drive.google.com/drive/folders/1Nehs_yz9pQhb-akASPsu5eJkAqdHAaxE?usp=share_link" target="_blank"><i class="fas fa-save"></i></a><br/>
      </p>
    </div>
  </div>
</section>
