<!-- markets -->
<section  id="part3">
  <div class="container" style="text-align:center;">
    <div class="chapter">
      <div class="chapterTitle">Part 3.</div><br/>
      <div class="chapterSubtitle">이것이 바로 상업용 시각디자인?</div>
      <p class="chapters">
        <Strong>Ch 12.</Strong> 제품 색상 변경 합성
          <a href="https://www.dropbox.com/scl/fo/ez3d77k02k63bop21tozw/h?rlkey=shuer7xxxu8satmijysnlqtf9&dl=0" target="_blank"><i class="fas fa-save"></i></a><br/>

        <Strong>Ch 13.</Strong> 텍스트 배너 만들기
          <a href="https://www.dropbox.com/scl/fo/cl5ap3flnba46xv01n7dn/h?rlkey=ueoov2gk3o2u3s3r1o7p43gah&dl=0" target="_blank"><i class="fas fa-save"></i></a><br/>
      
        <Strong>Ch 14.</Strong> 인스타그램용 광고 이미지 제작
          <a href="https://www.dropbox.com/scl/fo/0f78eukikfxlhl8tm5w6r/h?rlkey=y1jo9iry12grwdllkzj5zrg7c&dl=0" target="_blank"><i class="fas fa-save"></i></a><br/>
      
        <Strong>Ch 15.</Strong> 현실의 배경에 제품 이미지 합성
          <a href="https://www.dropbox.com/scl/fo/777tfule6baoyhzwjkrne/h?rlkey=wr6owwk0j2bkvb6q2jspgwvzo&dl=0" target="_blank"><i class="fas fa-save"></i></a><br/>
      
        <Strong>Ch 16.</Strong> 제품 판매용 광고 콘텐츠 제작
          <a href="https://www.dropbox.com/scl/fo/lglilumbqu81e33x5dwwx/h?rlkey=7roviijfwabwrh4p83n9d7624&dl=0" target="_blank"><i class="fas fa-save"></i></a><br/>
      
        <Strong>Ch 17.</Strong> 엽서와 인쇄 예시 목업 제작하기
          <a href="https://www.dropbox.com/scl/fo/uhm4u1oarfgwde21kuct5/h?rlkey=5i7hmqi9wcxx22k320rr88o0t&dl=0" target="_blank"><i class="fas fa-save"></i></a><br/>
      </p>
    </div>
  </div>
</section>
