<!-- markets -->
<section  id="part1" >
  <div class="container" style="text-align:center;">
    <div class="chapter">
      <div class="chapterTitle">Part 1</div><br/>
      <div class="chapterSubtitle">실습으로 배우는 포토샵 기본기의 모든 것</div>
      <p class="chapters">
        <Strong>Ch 1.</Strong> 다비드상과 함께하는 누끼 따기 기초 
          <a href="https://www.dropbox.com/scl/fo/x180xwprl6pfinsncfnje/h?rlkey=2igjj8aoxnl24ywdp5ver3dsa&dl=0" target="_blank"><i class="fas fa-save"></i></a><br/>
        
        <Strong>Ch 2.</Strong> 초고속으로 움직이는 유령 다비드상 만들기 
          <a href="https://www.dropbox.com/scl/fo/pnvt4rhzuacl71l2v5d6s/h?rlkey=6xelsqjjv32p80rmxe1mksvdk&dl=0" target="_blank"><i class="fas fa-save"></i></a><br/>
        
        <Strong>Ch 3.</Strong> 클럽에 간 다비드상
          <a href="https://www.dropbox.com/scl/fo/h4ovyddmbjihfru07mcun/h?rlkey=e7ybeot7q5ev5xtluggr3gu4r&dl=0" target="_blank"><i class="fas fa-save"></i></a><br/>
        
        <Strong>Ch 4.</Strong> 자연을 품은 다비드상 합성
          <a href="https://www.dropbox.com/scl/fo/d7os8laixgz7cke4jdhrz/h?rlkey=2h3iwe53vv3v8nwhfdc151w01&dl=0" target="_blank"><i class="fas fa-save"></i></a><br/>
        
        <Strong>Ch 5.</Strong> 다비드상 픽셀아트 합성
          <a href="https://www.dropbox.com/scl/fo/0kh4zmelewymwvvsz16wt/h?rlkey=fxo5or4yknj01utcnya9rs7fp&dl=0" target="_blank"><i class="fas fa-save"></i></a><br/>
        
        <Strong>Ch 6.</Strong> 다비드상에 홍대 패션 합성
          <a href="https://www.dropbox.com/scl/fo/xzxkoz2ck5i1ktifrr3z4/h?rlkey=umwoibdj646w2a7wjbnn5876u&dl=0" target="_blank"><i class="fas fa-save"></i></a><br/>
        
        <Strong>Ch 7.</Strong> 다비드상에 선글라스 합성
          <a href="https://www.dropbox.com/scl/fo/oavbgmtvb3se91z38m01f/h?rlkey=yoon7x7o0u0ku24847xh32r5d&dl=0" target="_blank"><i class="fas fa-save"></i></a><br/>
      </p>
    </div>
  </div>
</section>
