<!-- markets -->
<section  id="part2" class="bg-light-gray">
  <div class="container" style="text-align:center;">
    <div class="chapter">
      <div class="chapterTitle">Part 2.</div><br/>
      <div class="chapterSubtitle">알아두면 반드시 써먹는 포토샵 합성 기법</div>
      <p class="chapters">
        <Strong>Ch 8.</Strong> 얼굴 사진 보정
          <a href="https://drive.google.com/drive/folders/1HkJEyP0ANK_wAwa5cC-J78FaZBIW9CqJ?usp=drive_link" target="_blank"><i class="fas fa-save"></i></a><br/>
        
        <Strong>Ch 9.</Strong> 전신사진 보정
        <a href="https://drive.google.com/drive/folders/11pl-qY346evXnxF7VwJeMi9K3M7Vm5wu?usp=drive_link" target="_blank"><i class="fas fa-save"></i></a><br/>
      
        <Strong>Ch 10.</Strong> 에코백 수전사 염색 합성
        <a href="https://drive.google.com/drive/folders/1D3TYUzaT-fyT1U3sYNpTkoo1-cymrkgj?usp=drive_link" target="_blank"><i class="fas fa-save"></i></a><br/>
      
        <Strong>Ch 11.</Strong> 책상 위 카페 라떼 합성
        <a href="https://drive.google.com/drive/folders/17sEiW1Gd2Frzpfz-ljZet5dn2zQPk1Mv?usp=drive_link" target="_blank"><i class="fas fa-save"></i></a><br/>
      </p>
    </div>
  </div>
</section>
