<!-- markets -->
<section  id="part1" >
  <div class="container" style="text-align:center;">
    <div class="chapter">
      <div class="chapterTitle">Part 1</div><br/>
      <div class="chapterSubtitle">실습으로 배우는 포토샵 기본기의 모든 것</div>
      <p class="chapters">
        <Strong>Ch 1.</Strong> 다비드상과 함께하는 누끼 따기 기초 
          <a href="https://drive.google.com/drive/folders/1NaEpWHgj62NuLIHY2oFF2bFOt1cNzf0x?usp=share_link" target="_blank"><i class="fas fa-save"></i></a><br/>
        
        <Strong>Ch 2.</Strong> 초고속으로 움직이는 유령 다비드상 만들기 
          <a href="https://drive.google.com/drive/folders/1NXoRddVe7rpQ-MNIZnJKe4FBV_Sv8jTe?usp=share_link" target="_blank"><i class="fas fa-save"></i></a><br/>
        
        <Strong>Ch 3.</Strong> 클럽에 간 다비드상
          <a href="https://drive.google.com/drive/folders/1Nc4U5sW6xxqHaqy1DxplgTuNLLMSM1Ml?usp=share_link" target="_blank"><i class="fas fa-save"></i></a><br/>
        
        <Strong>Ch 4.</Strong> 자연을 품은 다비드상 합성
          <a href="https://drive.google.com/drive/folders/1Nc0x7Q5GiPig4dOrkY6z5wHT12gkTtOu?usp=share_link" target="_blank"><i class="fas fa-save"></i></a><br/>
        
        <Strong>Ch 5.</Strong> 다비드상 픽셀아트 합성
          <a href="https://drive.google.com/drive/folders/1NaLa4qOt7KHFF1T-y6sztorNDKkDRChm?usp=share_link" target="_blank"><i class="fas fa-save"></i></a><br/>
        
        <Strong>Ch 6.</Strong> 다비드상에 홍대 패션 합성
          <a href="https://drive.google.com/drive/folders/1NeTquBuFTKXp8ndLTo36VWROm_Nc1I4L?usp=share_link" target="_blank"><i class="fas fa-save"></i></a><br/>
        
        <Strong>Ch 7.</Strong> 다비드상에 선글라스 합성
          <a href="https://drive.google.com/drive/folders/1NdXarzpFZwQnNdYaNNoqaQjucftGpmJI?usp=share_link" target="_blank"><i class="fas fa-save"></i></a><br/>
      </p>
    </div>
  </div>
</section>
