<!-- markets -->
<section  id="part5" >
  <div class="container" style="text-align:center;">
    <div class="chapter">
      <div class="chapterTitle">Part 5.</div><br/>
      <div class="chapterSubtitle">포토샵으로 도전하는 아트워크 제작</div>
      <p class="chapters">

        <Strong>Ch 22.</Strong> 서핑하는 바나나 오리
          <a href="https://drive.google.com/drive/folders/1URwnm5XN7uHyJ4ZMdHCfIMIM2lwCDaiy?usp=drive_link" target="_blank"><i class="fas fa-save"></i></a><br/>

        <Strong>Ch 23.</Strong> 몽환의 숲
          <a href="https://drive.google.com/drive/folders/1ZKAdyOWhfLF9ZCXkoT1zQEkoa3inHPyt?usp=drive_link" target="_blank"><i class="fas fa-save"></i></a><br/>
      </p>
    </div>
  </div>
</section>
