<!-- markets -->
<section  id="part4" class="bg-light-gray">
  <div class="container" style="text-align:center;">
    <div class="chapter">
      <div class="chapterTitle">Part 4.</div><br/>
      <div class="chapterSubtitle">일상의 즐거움에 MSG를 더하는 합성 기법</div>
      <p class="chapters">
      
        <Strong>Ch 18.</Strong> 추억 속 그녀를 지워주세요
          <a href="https://www.dropbox.com/scl/fo/b4d4j1s9n814zd632i3q9/h?rlkey=1knzmev3d8ec15e68t1h546hi&dl=0" target="_blank"><i class="fas fa-save"></i></a><br/>
      
        <Strong>Ch 19.</Strong> 냉탕에 상어가 살거라 믿었지
          <a href="https://www.dropbox.com/scl/fo/exo6pd9a7yl338zk2y1eo/h?rlkey=j1c2e60r9re34lmhe0bhs29ps&dl=0" target="_blank"><i class="fas fa-save"></i></a><br/>
  
        <Strong>Ch 20.</Strong> 사바나 사자, 하와이로 휴가를 떠나다
          <a href="https://www.dropbox.com/scl/fo/e6x2p72xiqkhjvlquqbx9/h?rlkey=rdorlz5u15m4v5lb4wu1icry1&dl=0" target="_blank"><i class="fas fa-save"></i></a><br/>

        <Strong>Ch 21.</Strong> 포토샵으로 시간 여행을 떠나요
          <a href="https://www.dropbox.com/scl/fo/tsxrzi1xkk0gnriml6ljd/h?rlkey=7y3xqpo45iaj45ojim0d1b3o1&dl=0" target="_blank"><i class="fas fa-save"></i></a><br/>
      </p>
    </div>
  </div>
</section>
