<!-- markets -->
<section  id="part4" class="bg-light-gray">
  <div class="container" style="text-align:center;">
    <div class="chapter">
      <div class="chapterTitle">Part 4.</div><br/>
      <div class="chapterSubtitle">일상의 즐거움에 MSG를 더하는 합성 기법</div>
      <p class="chapters">
      
        <Strong>Ch 18.</Strong> 추억 속 그녀를 지워주세요
          <a href="https://drive.google.com/drive/folders/1nk0o7pFu0jj9cPbQl9UlGjOQu0QjeLp8?usp=drive_link" target="_blank"><i class="fas fa-save"></i></a><br/>
      
        <Strong>Ch 19.</Strong> 냉탕에 상어가 살거라 믿었지
          <a href="https://drive.google.com/drive/folders/1PSMOGwkWyKEKcFIrSdpzMqsFfIbA8CSm?usp=drive_link" target="_blank"><i class="fas fa-save"></i></a><br/>
  
        <Strong>Ch 20.</Strong> 사바나 사자, 하와이로 휴가를 떠나다
          <a href="https://drive.google.com/drive/folders/1bhnB7cPl1p9x3xQ4xTipP3TjQOtHjQbF?usp=drive_link" target="_blank"><i class="fas fa-save"></i></a><br/>

        <Strong>Ch 21.</Strong> 포토샵으로 시간 여행을 떠나요
          <a href="https://drive.google.com/drive/folders/1f7DIir3kmS6SpKVwpbyn4vwNiD_WIXGx?usp=drive_link" target="_blank"><i class="fas fa-save"></i></a><br/>
      </p>
    </div>
  </div>
</section>
